{% extends "layout.html"%}
{% block title %}Lisää omistaja{% endblock %}
{% block content %}
    <form action="#" method="POST">
        Omistajan nimi: <br>
        <textarea name="owner" rows="1" cols="20"></textarea>
        <p>
        <input type="submit" value="Lisää omistaja" required>
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    </form>
    {% if owners %}
    Lisätyt omistajat:
    <ul>
        {% for owner in owners %}
            <li>{{ owner }}</li>
        {% endfor %}
    </ul>
    {% endif %}
{% endblock content %}