{% extends "layout.html"%}
{% block title %}Lisää tapahtuma{% endblock %}
{% block content %}
    <form action="#" method="POST">
        Osakkeen nimi: <br>
        <textarea name="stock" rows="1" cols="20"></textarea>
        <p>
        <input type="submit" value="Lisää osake">
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    </form>
    <br>
    Lisätyt osakkeet:
    <ul>
        {% for stock in stocks %}
            <li>{{ stock }}</li>
        {% endfor %}
    </ul>
{% endblock content %}