{% extends "layout.html"%}
{% block title %}Näytä omistukset{% endblock %}
{% block content %}
<p>Lisättyjen omistajien hallussa olevat osakeomistukset</p>
<div class="table_component" role="region" tabindex="0">
<table>
    <thead>
        <tr>
            <th>Omistaja</th>
            <th>Osake</th>
            <th>Kpl</th>
            <th>Keskihinta (€)</th>
        </tr>
    </thead>
    <tbody>
        {% for owner, stock, number, avgprice in report %}
        <tr>
            <td>{{ owner }}</td>
            <td>{{ stock }}</td>
            <td>{{ number }}</td>
            <td>{{ avgprice }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<div style="margin-top:8px"></div>
</div>
{% endblock content %}
