{% extends "layout.html" %} {% block title %}Etusivu{% endblock %}
{% block content %}
<h2>Etusivu</h2>
<p>Tervetuloa käyttämään Sijoitus$alkkua!</p>
<p>
    Sovellus on tarkoitettu sijoitusten seurantaan, kun sijoituksia on useammalla eri arvo-osuustilillä 
    tai kun halutaan seurata useamman henkilön sijoituksia esimerkiksi perheessä. <br />
    <br />
    Sovelluksen käyttö aloitetaan lisäämällä omistajat. Kun omistajat on lisätty, omistajille voidaan 
    lisätä arvo-osuustilit. Arvo-osuustilin nimenä voi käyttää esimerkiksi pankin nimeä. Eri omistajien 
    sijoitukset eivät sovelluksessa mene sekaisin, vaikka arvo-osuustilin nimi olisi sama. Lopuksi lisätään 
    osakkeiden nimiä, joita omistajien tileille halutaan lisätä.<br />
    <br />
    Osakkeiden osto- ja myyntitapahtumat lisätään Lisää tapahtuma -välilehdeltä. Kun osto- ja myyntitapahtumia
    on lisätty, voidaan tarkastella myyntitapahtumia vuosittain tai katsoa lisättyjen omistajien omistuksessa 
    olevat sijoitukset.
    <br />
    <br />
    Osakkeille voidaan lisätä myös osinko. Kun lisätyille osakkeille on lisätty osinko, voidaan hakea ennuste 
    omistajien vuotuisista osingoista. <br />
    <br />
    Alla oleva kuva havainnollistaa sovelluksen toimintaa.<br />
    <br />
    <img src="/static/Toimintakaavio.png" alt="Sovelluksen toimintakaavio" />
</p>
{% endblock content%}
