<!doctype html>
<link rel="stylesheet" href="/static/main.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
<html>
<head>
    {% block head %}
    <title>Sijoitussalkku - {% block title%}Sijoitussalkku{% endblock title %}</title>
    {% endblock head%}
</head>
<body>
    <h1>Sijoitus$alkku</h1>
    <a href="/">Etusivu</a>
    <a href="/setup">Asetukset</a>
    <a href="/addevent">Tapahtuman lisäys</a>
    <hr>
    {% block content %}{% endblock content %}
    <hr>
</body>
</html>
