<!doctype html>
<link rel="stylesheet" href="/static/main.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
<html>
<head>
    {% block head %}
    <title>Sijoitussalkku - {% block title%}Sijoitussalkku{% endblock title %}</title>
    {% endblock head%}
</head>
<body>
    <h1>Sijoitus$alkku</h1>
    {% if session.username %}
    <p> Olet kirjautunut nimellä {{ session.username }}</p>
    <div class="button-group">
        <a href="/addowner">Lisää omistaja</a>
        <a href="/addaccount">Lisää arvo-osuustili</a>
        <a href="/addstock">Lisää osake</a>
        <a href="/addevent">Lisää tapahtuma</a>
    </div>
    {% else %}
    <form action="/login" method="POST">
    <p>Käyttäjätunnus:</br>
    <input type="text" name="username"></p>
    <p>Salasana:<br>
    <input type="password" name="password"></p>
    <input type="submit" value="Kirjaudu">
    </form>
    <a href="/register">Luo tunnus</a>
    {% endif %}
    <hr>
    {% block content %}{% endblock content %}
    <hr>
    <div class="button-group">
    <a href="/">Etusivulle</a>
    {% if session.username %}
    <a href="/logout">Kirjaudu ulos</a>
    {% endif %}
    </div>
</body>
</html>
