{% extends "layout.html"%} {% block title %}Näytä myyntitapahtumat{% endblock %} {% block content %}
<p>Valitse vuosi, jonka myyntitapahtumat haluat nähdä.<br /></p>
<form action="#" method="POST">
    {% for year in years %}
    <input type="radio" name="year" value="{{year}}" /> {{year}} {% endfor %}
    <input type="submit" value="Hae tapahtumat" />
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
</form>
<br />
{% if selected_year is defined %}
<p>Vuoden {{selected_year}} myyntitapahtumat</p>
<div class="table_component" role="region" tabindex="0">
    <table>
        <thead>
            <tr>
                <th>Omistaja</th>
                <th>Tili</th>
                <th>Ostopäivä</th>
                <th>Osake</th>
                <th>Kpl</th>
                <th>Ostohinta yht. (€)</th>
                <th>Myyntipäivä</th>
                <th>Myyntihinta yht. (€)</th>
            </tr>
        </thead>
        <tbody>
            {% for owner, account, buydate, stock, number, buytotal, selldate, selltotal in events %}
            <tr>
                <td>{{ owner }}</td>
                <td>{{ account }}</td>
                <td>{{ buydate }}</td>
                <td>{{ stock }}</td>
                <td>{{ number }}</td>
                <td>{{ buytotal }}</td>
                <td>{{ selldate }}</td>
                <td>{{ selltotal }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div style="margin-top: 8px;"></div>
</div>
{% endif %} {% endblock content %}
